.mannschaftsfoto{
    margin-top: 20px;
    height: 50vmin;
}

.player-picture{
    max-width: 100%;
    height: auto;
    padding-top: 50px;
}

.player-name{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    text-align: center;
}

.fupa-widget{
    padding-top: 20px;
    width: 100%;
    height: 634px;
}

@media screen and (max-width: 960px){
    .player-name{
        font-size: 0.8rem;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
        text-align: center;
    }

    .player-picture{
        padding-top: 20px;
    }

    .fupa-widget{
        height: 400px;
    }
}