.contact-picture{
    padding-top: 50px;
    height: 30vmin;
}

.contact-subtitle-title{
    font-weight: bold;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}

.contact-subtitle{
    margin-top:3px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}