.contact-picture{
    max-width: 100%;
    height: auto;
    padding-top: 50px;
}

.contact-subtitle-title{
    font-weight: bold;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}

.contact-subtitle{
    margin-top:3px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}

@media screen and (max-width: 960px){

    .contact-picture{
        padding-top: 20px;
    }
}